/* main index */
.main {
    grid-area: main;
    margin-top: 20px;
}

.maininicio img {
    width: 500px;
}

/* mixin */
.subtituloresaltado {
    @include h2 (center);
}

.resaltado {
    color: map-get($colores, "color-fuente-resaltado");
}

/* mixin */
.boton {
    @include boton(rgba(243, 61, 97, 0.544));
}

.boton:hover {
    transform: scale(1.5);
    transition: all 1s;
}

.boton a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* main galeria de fotos */
.galeria__fotos {
    width: 80%;

    & img {
        width: 200px;
        margin: 5px;
    }
}

.sticker {
    transition: 1s;

    &:hover {
        transform: scale(1.07);
    }
}

/* main contacto */
.contacto {

    &__item {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & h2 {
            margin: 5px;
            /* mixin */
            @include h2 (center);
            text-decoration: underline;
        }
    }
}

.mapa {
    width: 600px;
}

.contacto h3 {
    color: map-get($colores, "color-fuente-contacto");
    margin: 15px;
}

/* main como comprar */
.comocomprar {

    & h2 {
        /* mixin */
        @include h2 (start);
    }
}

/* main catalogo */
.catalogo {

    &__variedades img {
        width: 200px;
        margin: 10px;
    }
}