/* main index */
.main{
    grid-area: main;
    margin-top: 20px;
}
.maininicio img{
    width: 500px;
}
/* mixin */
.subtituloresaltado{
    @include h2 (center);
}
.resaltado{
    color: map-get($colores, "color-fuente-resaltado");
}
/* mixin */
.boton{
    @include boton(rgba(243, 61, 97, 0.544));
}
.boton:hover{
    transform: scale(1.5);
    transition: all 1s;
}
.boton a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* main galeria de fotos */
.layoutgaleria{
    margin: 0;
    display: grid;
    grid-template:
    "header" auto
    "navegador" auto
    "galeria" auto
    "footer" auto;
}
.galeria__fotos{
    width: 80%;
    & img{
        width: 200px;
        margin: 5px;
    }
}
.sticker{
    transition: 1s;
    &:hover{
        transform: scale(1.07);
    }
}

/* main contacto */
.layoutcontacto{
    display: grid;
    grid-template:
    "header" auto
    "navegador" auto
    "contacto" auto
    "footer" auto;
}
.contacto{
    grid-area: contacto;
    &__item{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & h2{
            margin: 5px;
            /* mixin */
            @include h2 (center);
            text-decoration: underline;
        }
    }
}
.mapa{
    width: 600px;
}
.contacto h3{
    color: map-get($colores, "color-fuente-contacto");
    margin: 15px;
}

/* main como comprar */
.layoutcomocomprar{
    display: grid;
    grid-template:
    "header" auto
    "navegador" auto
    "comocomprar" auto
    "footer" auto;
}
.comocomprar{
    grid-area: comocomprar;
    & h2{
        /* mixin */
        @include h2 (start);
    }
}

/* main catalogo */
.layoutcatalogo{
    display: grid;
    grid-template:
    "header" auto
    "navegador" auto
    "catalogo" auto
    "footer" auto;
}
.catalogo{
    grid-area: catalogo;
    &__variedades img{
        width: 200px;
        margin: 10px;
    }
}
