* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header de mi sitio */
.logo {
    width: 200px;
}

.header {
    background-color: map-get($colores, "color-principal");
    @extend %centrar;
    flex-direction: column;

    &__section {
        @extend %centrar;
    }
}

/* barra de navegacion de mi sitio */
.navegador {
    background-color: map-get($colores, "color-principal");

    &__lista {
        width: 80%;
        margin: 0 auto;
        align-items: flex-end;

        & a {
            text-decoration: none;
            color: map-get($colores, "color-fuente-nav");
            margin: 25px;
        }
    }
}

/* footer de mi sitio */
.footer {
    margin-top: auto;

    &__misredes {
        background-image: url(../imagenes/footer.png);
        background-color: map-get($colores, "color-principal");
        @extend %centrar;
    }
}

.bi {
    color: map-get($colores, "color-redes");
    margin: 10px;

    &:hover {
        color: map-get($colores, "color-redes-active");
    }
}