*{
    margin: 0;
    padding: 0;
}
.html{
    height: 100%;
}
/* font-family: 'Didact Gothic', sans-serif */
/* header de mi sitio */
.logo{
    width: 200px;
}
.header{
    background-color: #d3bcf6;
    grid-area: header;
}
/* barra de navegacion de mi sitio */
.navegador{
    grid-area: navegador;
    background-color: #d3bcf6;
}
.navegador__lista{
    width: 80%;
    margin: 0 auto;
    align-items: flex-end;
}
.navegador__lista a{
    text-decoration: none;
    color: black;
    margin: 25px;
}
/* main index */
.main{
    grid-area: main;
    margin-top: 20px;
}
.maininicio img{
    width: 500px;
}
.subtituloresaltado{
    color: blueviolet;
}
.resaltado{
    color: blue;
}
/* tipografias */
body{
    font-family:'Didact Gothic', sans-serif ;
}
/* boton */
.boton{
    background-color: rgba(243, 61, 97, 0.544);
    width: fit-content;
    border: solid 3px rgba(239, 10, 56, 0.544);
    border-radius: 50%;
    padding: 10px;
    margin: 20px auto;
}
.boton:hover{
    transform: scale(1.5);
    transition: all 1s;
}
.boton a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}