$pantalla-completa: 100%;

$colores: (
    "color-principal": #d3bcf6,
    "color-fuente-resaltado": blueviolet,
    "color-redes": black,
    "color-redes-active": white, 
    "color-fuente-nav": black,
    "color-fuente-contacto": red,
);

/* mixin */
@mixin boton ($bgcolor){
    background-color: $bgcolor;
    width: fit-content;
    border: solid 3px rgba(239, 10, 56, 0.544);
    border-radius: 50%;
    padding: 10px;
    margin: 20px auto;
}
@mixin h2 ($text){
    color: map-get($colores, "color-fuente-resaltado");
    text-align: $text;
}
/* extend */
%centrar{
    display: flex;
    justify-content: center;
}
